body{
    background: #4F4F4F		;
    }

    p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color:#000000			;
    }

    b{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
    }


    b.one{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        color:#9ACD32				;
    }